<div id="downloads">

    <div class="slide slide-intro">
        <div class="container">
            <h1>Downloads</h1>
        </div>
    </div>

    <div class="slide slide-dwl-2">
        <div class="container">
            <p>Chronomodel is an open source project. You can download the source code and compile everything yourself from scratch.</p>
            <p>
                Chronomodel is hosted on <a href="https://github.com/Chronomodel/chronomodel" target="_blank">GitHub.com</a>. You can clone the repository by typing :
                <pre>git clone https://github.com/Chronomodel/chronomodel.git</pre>
            </p>
            <p>Chronomodel is built on <a href="http://qt-project.org/" target="_blank">Qt 5</a> and uses <a href="http://www.fftw.org/" target="_blank">FFTW library</a>.
                The only pre-requisite to build the software is to have Qt 5 installed on your system.</p>
            <p>We provide pre-compiled binary versions of the application for convenience :</p>

            <h3>Chronomodel 1.1</h3>
            <table class="table table-stripped table-bordered">
                <tr>
                    <th>Operating System</th>
                    <th>Download link</th>
                </tr>
                <tr>
                    <td><img src="images/platforms/mac.png" height="50">Mac OS X 10.9 Mavericks, 10.10 Yosemite</td>
                    <th>
                        <a class="btn btn-primary btn-block" href="releases/chronomodel_mac_1.1.pkg">
                            <span class="glyphicon glyphicon-download"></span> Download
                        </a>
                    </th>
                </tr>
                <tr>
                    <td><img src="images/platforms/mac.png" height="50">Mac OS X 10.7 Lion, 10.8 Mountain Lion</td>
                    <th>
                        <a class="btn btn-primary btn-block" href="releases/chronomodel_mac_1.1.app.zip">
                            <span class="glyphicon glyphicon-download"></span> Download
                        </a>
                    </th>
                </tr>
                <tr>
                    <td><img src="images/platforms/windows.png" height="50">Windows 32 bits (XP, Vista, 7, 8)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_win_1.1.exe">
                        <span class="glyphicon glyphicon-download"></span> Download
                    </a></th>
                </tr>
            </table>

            <p>
                This version improves the following points :
                <ul>
                    <li>Search field added on the events scene.</li>
                    <li>When exporting the model's data as CSV, data are grouped by event and comments with event names are added in the CSV file.</li>
                    <li>FFTW library version for Mac downgraded from 3.3.4 to 3.2.2 to ensure Mac OS X 10.7 support.</li>
                    <li>PNG image size can is 4 times bigger than screen resolution.</li>
                    <li>In results view, when browsing by phases, you can now also display data under phases and events by unfolding the results.</li>
                    <li>Duration graph added for phases.</li>
                    <li>CSV import : comments in CSV source file are now displayed in Chronomodel's user interface.</li>
                    <li>When drag-and-dropping data from CSV import to the scene, the data name is used as the newly created event's name.</li>
                    <li>Better event merge, solving a bug that occured sometimes when merging...</li>
                    <li>Graph data export fixed on posterior densities.</li>
                    <li>Calculation issues for models using bounds solved.</li>
                    <li>HPD multi-intervals displayed with their respective percentage.</li>
                    <li>Calculations improvements.</li>
                </ul>
            </p>

            <p>
                Known issues :
                <ul>
                    <li>There is calculation problem using a "Wiggle Matching" of type "Range" on C14 data.</li>
                    <li>The red square on the model overview tool may appear shifted from its real position and thus not correspond exactly to the currently viewed area. This happens on large models only.</li>
                    <li>If a warning appears during calculations : simply relaunch it. This limitation is due to a numerical overflow when dealing with extreme values. We are currently working on a fix!</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="slide slide-dwl-1">
        <div class="container">
            <h1>Older versions</h1>
            <h3>Chronomodel 1.0</h3>
            <table class="table table-stripped table-bordered">
                <tr>
                    <th>Operating System</th>
                    <th>Download link</th>
                </tr>
                <tr>
                    <td><img src="images/platforms/mac.png" height="50">Mac OS X 64 bits (10.9 Mavericks, 10.10 Yosemite)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_mac_1.0.pkg">Download (version 1.0)</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/mac.png" height="50">Mac OS X 64 bits (10.7 Lion, 10.8 Mountain Lion)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_mac_1.0.app.zip">Download (version 1.0)</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/windows.png" height="50">Windows 32 bits (XP, Vista, 7, 8)</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_win_1.0.exe">Download (version 1.0)</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/linux.png" height="50">Unbuntu 14.1</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_ubuntu_0.6.zip">Download (version 0.6)</a></th>
                </tr>
                <tr>
                    <td><img src="images/platforms/src.png" height="50">Souce Code</td>
                    <th><a class="btn btn-primary btn-block" href="releases/chronomodel_src_0.6.zip">Download (version 0.6)</a></th>
                </tr>
            </table>
            <!--p>
                <a class="btn btn-primary" href="Quiles_bouquets.zip">Bouquets Quiles</a>
            </p-->
        </div>
    </div>

    <!--div ng-repeat="item in downloads" ng-class="{even : $index % 2}" class="download">
        <h3 class="version">Chronomodel {{item.version}} ({{item.date}})</h3>
        <a class="btn btn-primary mac" href="{{item.mac}}" ng-show="item.mac">Mac Download</a>
        <a class="btn btn-primary win" href="{{item.win}}" ng-show="item.win">Windows download</a>
        <h4>Solved issues :</h4>
        <ul class="solved">
            <li ng-repeat="issue in item.done">{{issue}}</li>
        </ul>
    </div-->
</div>
